{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/show.css' %}">

<div class="container mt-4 content">
    <h2 style="color: white;">Genre: {{ tag_name }}</h2>

    <div class="row justify-content-center">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="{{ movie.image.url }}" class="card-img-top" alt="постер">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.created_at }}</p>
                    <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'components/footer.html' %}
