<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
</head>
<body>
    <ul>
        {% for i in todo_list %}
            <li>
                <h1>{{ i.task }}</h1>
                <p>{{ i.checked }}</p>
                <a href="/todo_list/{{ i.id }}/" class="btn">More</a>
                <a href="/todo_list/{{ i.id }}/delete/" class="btn">Delete</a>
                <a href="/todo_list/{{ i.id }}/update/" class="btn">Change</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>