{% load static %}

<link rel="stylesheet" href="{% static 'css/show_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/show.css' %}">

{% include 'components/header.html' %}

<div class="container mt-4">
    <div class="movie-card">
        <div class="card">
            <img src="{{ movie_id.image.url }}" style="width: 400px; height: 600px; object-fit: cover; display: block; margin: 0 auto;" alt="Фильм">
            <div class="card-body">
                <h5 class="card-title">{{ movie_id.title }}</h5>
                <p class="card-text">{{ movie_id.decription }}</p>
                <p><strong>Ticket price:</strong> {{ movie_id.price }} som</p>
                <p><strong>Date of release:</strong> {{ movie_id.created_at }}</p>
                <p><strong>Genre:</strong> {{movie_id.genre_choices}}</p>
                <p><strong>Duration:</strong> {{ movie_id.time_watch }} minutes</p>
                <p><strong>Director:</strong> {{ movie_id.director }}</p>
                <iframe src="{{ movie_id.trailer }}" width="560" height="315" frameborder="0" allowfullscreen style="display: block; margin: 0 auto;"></iframe>

            </div>
        </div>
    </div>

    {% for i in movie_id.movies.all %}
    <div class="comment-section">
        <h5>Comments</h5>
        <div class="comment">
            <p> {{ i.created_at }}: {{i.comment}} <strong>Rating:</strong> {{i.starts}}</p>
        </div>
    </div>
</div>
    {% endfor %}

{% include 'components/footer.html' %}

